################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DangersInfoApp/bin/Debug/netcoreapp2.2
/DangersInfoApp/obj
/WarsawOpenData.Proxy/bin/Debug/netcoreapp2.2
/WarsawOpenData.Proxy/obj
/DangersInfo.Services/bin/Debug/netcoreapp2.2
/DangersInfo.Services/obj
/DangersInfo.Configuration/bin/Debug/netcoreapp2.2
/DangersInfo.Configuration/obj
/DangersInfo.IntegrationTests/bin/Debug/netcoreapp2.2
/DangersInfo.IntegrationTests/obj
/DangersInfo.Tests/bin/Debug/netcoreapp2.2
/DangersInfo.Tests/obj
/DevelopmentResourceGroup/bin/Debug/staging/DevelopmentResourceGroup
/DevelopmentResourceGroup/obj/Debug
/DangersInfoApp/wwwroot/lib/jquery
/DangersInfoApp/wwwroot/lib/handlebars.js
/DangersInfoApp/wwwroot/lib/bootstrap
