@{
    ViewData["Title"] = "Reported Dangers";
}

<div id="spinner" class="text-center w-100">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only"></span>
    </div>
</div>

<div id="dangers"></div>

@section Scripts
{
    <environment include="Development">
        <script src="~/app/dangers/dangers.service.js"></script>
        <script src="~/app/helpers/handlebars.helpers.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/app/dangers/dangers.service.min.js"></script>
        <script src="~/app/helpers/handlebars.helpers.min.js"></script>
    </environment>

    <script id="dangers-template" type="text/x-handlebars-template">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Subcategory</th>
                    <th scope="col">City</th>
                    <th scope="col">District</th>
                    <th scope="col">Street</th>
                    <th scope="col">Notification Type</th>
                    <th scope="col">Notification Number</th>
                    <th scope="col">Source</th>
                    <th scope="col">Create Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each reportedDangers as |danger index|}}
                    <tr>
                        <td scope="row">{{inc index}}</td>
                        <td>{{danger.category}}</td>
                        <td>{{danger.subcategory}}</td>
                        <td>{{danger.city}}</td>
                        <td>{{danger.district}}</td>
                        <td>{{danger.street}}</td>
                        <td>{{danger.notificationType}}</td>
                        <td>{{danger.notificationNumber}}</td>
                        <td>{{danger.source}}</td>
                        <td>{{danger.createDate}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script type="text/javascript">        
        $(document).ready(function () {
            dangersService.getDangers();
        });
    </script>
}